<div class="page-header">
    <h2>Add a new contact to your addressbook</h2>
</div>
<div ng-form="addContact" class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-4 control-label">
            First Name
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.FirstName" />

        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Last Name
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.LastName" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Phone
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Phone" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Email
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Email" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Blog
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Blog" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Facebook
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Facebook" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Twitter
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Twitter" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            LinkedIn
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.LinkedIn" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-4 control-label">
            Google+
            <label class="text-danger">*</label>
        </label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="contact.Googleplus" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-lg-offset-7"><button class="btn btn-primary" ng-click="save()">Save</button></div>
    </div>

    {{contact}}
</div>


